*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: normal;
    line-height: 1.6;
    color: #222831;
    background-color: #ffffff;
    
}

header {
    text-align: center;
    margin-top: 5px;
    width: 100%;
    font-weight: normal;
    margin-bottom: 30px;
    

}
.first-section{
    text-align: center;
    margin-bottom: 30px
}
.first-section button{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2C3E50;
    color:rgb(145, 151, 148);
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.first-section button:hover{
    background-color: rgb(78, 97, 104);
}


.second-section{
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    
}
.second-section h3{
    margin-left: 20px;
}
.third-section{
    margin-left: 20px;
}
.third-section h3{
    margin-left: 30px;
}
.fourth-section{
    margin-left: 30px;
}
.fourth-section p{
    font-style: italic;
}
.fifth-section{
    margin-left: 15px;
    
    margin-bottom: 2px;
}
.fifth-section h3{
    text-align: center;
    font-style: italic;
}

.eigth-section{
    margin-left: 30px;
}
.stand-alone{
    text-align: center;
   margin-bottom: 15px;
}

img{
    filter: brightness(90%);
}

footer{
    
    height: 200px;
    

}
footer h4{
    margin-left: 10px;
}
footer a{
    display: inline-block;
    position: relative;
    margin-left: 10px;
    color: #a8bbaf;
    
}
footer a:hover{
    color: #59695f;
}
footer p{
    text-align: center;
    margin-top: 20px;
}
footer h4{
    margin-bottom: 5px;
}